<%= provide(:title, "Create New Client") %>

<h1>Create a new Client</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@client) do |f| %>
			<%= render "shared/errors" %>
				<%= f.label :username %>
	      <%= f.text_field :username %>

	      <%= f.label :email %>
	      <%= f.text_field :email %>

	      <%= f.label :company %>
	      <%= f.text_field :company %>

	      <%= f.label :password %>
	      <%= f.password_field :password %>

	      <%= f.label :password_confirmation, "Confirm Password" %>
	      <%= f.password_field :password_confirmation %>

	      <%= f.submit "Create New Client", class: "btn btn-large btn-primary" %>
	    <% end %>
	</div>
</div>