<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav pull-left">
					<li>QCM Project Tracker</li>
			</ul>
			<nav>
				<ul class="nav pull-right">
					
					<% if signed_in? %>
						<li><%= link_to "Projects", current_client %></li>
						<li><%= link_to "Account", edit_client_path(current_client) %></li>
						<li><%= link_to "QCM Home Page", "http://qcmny.com/" %>
						<li><%= link_to "Sign Out", signout_path, method: "delete" %></li>
					<% else %>
						<li><%= link_to "QCM Home Page", "http://qcmny.com/" %>
					<% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>


