<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "QCM Home", "http://qcmny.com/" %>
					<% if signed_in? %>
						<li><%= link_to "Home", '#' %></li>
						<li><%= link_to "Projects", '#' %></li>
						<li><%= link_to "Account", '#' %></li>
						<li><%= link_to "Sign Out", signout_path, method: "delete" %></li>
					<% else %>
						<li><%= link_to "Learn More", '#'%></li>
					<% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>


